{% extends "base.html" %}

{% block title %}Event Pending Chart{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 text-center">Pending Events by Category</h1>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>Pending Events Chart</h2>
            <ul>
                {% for category, count in pending_counts.items %}
                    <li>{{ category }}: {{ count }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>Total Event Durations</h2>
            <ul>
                {% for category, duration in event_durations.items %}
                    <li>{{ category }}: {{ duration }} days</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>Total Events</h2>
            <ul>
                {% for category, total in total_events.items %}
                    <li>{{ category }}: {{ total }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>Average Event Duration</h2>
            <ul>
                {% for category, avg_duration in average_duration.items %}
                    <li>{{ category }}: {{ avg_duration }} days</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}