{% extends "base.html" %}

{% block title %}Update Event{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Update Event</h2>
    <br>
    <form method="post" id="updateEventForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Event</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var updateEventForm = document.getElementById('updateEventForm');

        function validateEndDate() {
            var startDate = new Date(document.getElementById('id_start_date').value);
            var endDate = new Date(document.getElementById('id_end_date').value);
            if (endDate <= startDate) {
                document.getElementById('end_date_error').innerText = 'End date must be after start date';
                return false;
            } else {
                document.getElementById('end_date_error').innerText = '';
                return true;
            }
        }

        updateEventForm.addEventListener('submit', function (event) {
            if (!validateEndDate()) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}